<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<input type="button" th:value="Add" onclick="window.location.href='new'">

<div th:unless="${#lists.isEmpty(users)}">
    <table>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getFirstName()}"></td>
            <td th:utext="${user.getLastName}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/delete(userToRemoveId=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <a th:href="@{/edit(userToEditId=${user.getId()})}">
                    <button>Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>